.order-page {

  &__load-wrapper {
    border: 1px solid #b1a3a3;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__order {
    margin-bottom: 20px;
  }

  &__personal {
    margin-bottom: 40px;
  }

  &__show-more {
    margin: 20px auto 0;
    display: flex;
    padding: 15px 50px;
    cursor: pointer;
    border: 1px solid #9babd0;
    border-radius: 10px;
    color: #9babd0;
    transition: .3s;

    &:hover {
      color: white;
      background: #9babd0;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__column {
    width: 50%;
  }
}

.personal {
  display: flex;
  gap: 40px;
  border: 1px solid #b1a3a3;
  padding: 20px;
  border-radius: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }

  &__item {
    font-size: 30px;

    &--small {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  &__item:nth-child(2) {
    margin-bottom: 30px;

  }
}
