body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #E7F6FF;
  box-sizing: border-box;
}


.main-block {

  &__wrapper {
    max-width: 1080px;
    width: 100%;
    //margin: 85px auto;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }

  &__body {
    padding: 45px 60px;
  }

  &__slider {
    margin-bottom: 40px;
  }

  &__search {
    margin-bottom: 40px;
  }

  &__search-empty {
    margin: 140px auto;
  }

  &__pagination {
    margin-top: 40px;
  }

}

.slider-swiper {
  max-width: 960px;
  //margin: 45px auto;

  .swiper-slide {
    max-height: 300px;
  }
}

.goods {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    max-width: 500px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__section{
    display: flex;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    align-items: center;
  }

  &__select {
    max-width: 240px;
    width: 100%;
  }
}

.search-input {
  position: relative;
  border: 1px solid #e9e6e6;
  border-radius: 10px;
  padding: 13px 18px;
  display: flex;
  gap: 13px;
  //max-width: 250px;
  width: 100%;


  &__input {
    max-width: 150px;
    outline: none;
    background: none;
    border: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 210px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #e9e6e6;
  border-radius: 40px;
  padding: 30px;
  transition: 0.2s ease-in-out;
  height: 303px;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }


  &__wrapper {
    margin-bottom: 14px;
  }

  &__image {
    max-width: 133px;
    height: 113px;
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 14px;
  }
}

.item-price {
  display: flex;
  justify-content: space-between;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__title {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.button-add {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.button-favorite {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.button-delete {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}


.search-empty {
  &__image {
    margin: 0 auto 40px;
    display: flex;
  }

  &__title {
    margin-bottom: 20px;
  }
}

.button-back {
  cursor: pointer;
  background: #9DD458;
  border-radius: 18px;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
}

.custom-select {
  font-size: 13px !important;
  color: #a2a2a2 !important;

  &__control {
    border: 1px solid #e9e6e6 !important;
    box-shadow: none !important;
    width: 210px;
  }

  &__placeholder {
    font-size: 13px !important;
    padding: 10px !important;
  }

  &__indicator-separator {
    background-color: #e9e6e6 !important;
  }

  &__menu {

    //background: red !important;
  }

  &__single-value,
  &__menu {
    font-size: 13px !important;
    color: #a2a2a2 !important;
  }
}

.swiper {
  border-radius: 20px
}

.main-wrapper {
  display: flex;
  gap: 20px;
  margin: 85px auto;
  justify-content: center;

  &__section {
    max-width: 300px;
    width: 100%;
    //display: none;
  }
}


.btn-brand {
  border: 1px solid #e9e6e6;
  border-radius: 10px;
  padding: 13px 18px;
  color: #968e8e;
  cursor: pointer;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  &__link {
    text-decoration: none;
    color: black;

    display: flex;
    padding: 5px 10px;

    &--active {
      border: 1px solid #9babd0;
      border-radius: 10px;
      color: #9babd0;
    }
  }

  &__item {
    list-style-type: none;



  }
}
