body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #E7F6FF;
  box-sizing: border-box;
}


.main-block {
  max-width: 1080px;
  width: 100%;

  &__wrapper {
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }

  &__body {
    padding: 45px 60px;
  }

  &__slider {
    margin-bottom: 40px;
  }

  &__search {
    margin-bottom: 40px;
  }

  &__search-empty {
    margin: 140px auto;
  }

  &__pagination {
    margin-top: 40px;
  }

  &__checkbox {
    margin-bottom: 40px;
  }

  &__favorites-empty {
    margin: 150px auto 200px;
  }

}

.slider-swiper {
  max-width: 960px;
  //margin: 45px auto;

  .swiper-slide {
    max-height: 300px;
  }
}

.goods {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  &__favorite-title {
    margin-bottom: 40px;
  }
}


.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__title {
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__section{
    display: flex;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    align-items: center;
  }

  &__select {
    max-width: 240px;
    width: 100%;
  }
}

.search-input {
  position: relative;
  border: 1px solid #e9e6e6;
  border-radius: 10px;
  padding: 13px 18px;
  display: flex;
  justify-content: space-between;
  gap: 13px;
  //max-width: 250px;
  width: 100%;


  &__input {
    max-width: 150px;
    outline: none;
    background: none;
    border: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 210px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #e9e6e6;
  border-radius: 40px;
  padding: 30px;
  transition: 0.2s ease-in-out;
  height: 303px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    //transform: translateY(-5px);
  }


  &__wrapper {
    margin-bottom: 14px;
  }

  &__image {
    max-width: 133px;
    height: 113px;
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 14px;
    cursor: pointer;
    transition: .1s ease-in-out;

    //&:hover {
    //  color: #9babd0;
    //}
  }
}

.item-price {
  display: flex;
  justify-content: space-between;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__title {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.button-add {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.button-favorite {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.button-delete {
  position: absolute;
  top: 6px;
  right: 50px;
  cursor: pointer;
}


.search-empty {
  &__image {
    margin: 0 auto 40px;
    display: flex;
  }

  &__title {
    margin-bottom: 20px;
  }
}

.button-back {
  cursor: pointer;
  background: #9DD458;
  border-radius: 18px;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;


  //&:hover .button-back__icon{
  //  transform: translate(-4px);
  //}

  &--basket {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__icon {
    transition: .3s;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
}

.custom-select {
  font-size: 13px !important;
  color: #a2a2a2 !important;

  &__control {
    border: 1px solid #e9e6e6 !important;
    box-shadow: none !important;
    width: 210px;
    cursor: pointer !important;
  }

  &__placeholder {
    font-size: 13px !important;
    padding: 10px !important;
  }

  &__indicator-separator {
    background-color: #e9e6e6 !important;
  }

  &__menu {

    //background: red !important;
  }

  &__single-value,
  &__menu {
    font-size: 13px !important;
    color: #a2a2a2 !important;
  }
}

.swiper {
  border-radius: 20px
}

.main-wrapper {
  display: flex;
  gap: 20px;
  margin: 85px auto;
  justify-content: center;

  &__section {
    max-width: 300px;
    width: 100%;
    //display: none;
  }
}


.btn-brand {
  border: 1px solid #e9e6e6;
  border-radius: 10px;
  padding: 13px 18px;
  color: #968e8e;
  cursor: pointer;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  &__link {
    text-decoration: none;
    color: black;

    display: flex;
    padding: 5px 10px;

    &--active {
      border: 1px solid #9babd0;
      border-radius: 10px;
      color: #9babd0;
    }
  }

  &__item {
    list-style-type: none;



  }
}



.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &--basket {
    justify-content: flex-end;
  }

  &__total {
    margin-top: auto;
  }

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__empty {
    margin-top: 100px;
  }

  &__section {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-right: 10px;


    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
      background-color: #f9f9fd;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(180deg, #E7F6FF,  #9babd0);
    }

      &--active {
        height: 100%;
        margin-bottom: 200px;
      }
  }

  &__content {
    padding: 25px;
    border-radius: 12px 0 0 12px;
    background-color: white;
    width: 30vw;
    transform: scale(0,1);
    transition: 0.4s all;

    &--basket {
      height: 100%;
      max-width: 460px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--active {
      transform: scale(1);
    }
  }

  &__title {
    margin-bottom: 30px;
  }
}


.modal-filter {
  display: flex;
  //align-items: center;
  gap: 20px;

  &__title {
    font-weight: 600;
    font-size: 17px;
  }

  &__brands {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #e9e6e6;
    padding-right: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__button {
    margin-top: auto;
    margin-left: auto;
  }

  &__other {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e6e6;
  }

  &__stock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


.button-modal-search {
  display: flex;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #e9e6e6;
}


.checkbox-filer {
  display: flex;
  gap: 20px;
}

.button-brand {
  padding: 10px 20px;
  border: 1px solid #e9e6e6;
  border-radius: 12px;
  cursor: pointer;
}

.main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  max-width: 500px;
}



.favorites-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 11px;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.4;
    margin-bottom: 40px;
  }
}

.basket-section {
  cursor: pointer;
  position: relative;

  &__count {
    position: absolute;
    top: -7px;
    left: 15px;

    &--hide {
      display: none !important;
    }
  }
}

.counter {
  background: #b7d9ee;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.basket-goods {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__order {
    margin-top: 100px;
  }
 }

.basket-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e9e6e6;
  border-radius: 20px;

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }

  &__img {
    width: 100%;
  }

  &__description {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    cursor: pointer;
  }
}

.total-price {
  display: flex;
  justify-content: space-between;
}


.basket-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
  }

  &__text {
    max-width: 270px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
    margin-bottom: 30px;
  }
}


.load-wrapper {
  border: 1px solid #e9e6e6;
  border-radius: 40px;

  &--basket {
    border-radius: 20px;
  }
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__close {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.order-page {

  &__order {
    margin-bottom: 20px;
  }

  &__personal {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__column {
    width: 50%;
  }
}

.personal {
  display: flex;
  gap: 40px;
  border: 1px solid #b1a3a3;
  padding: 20px;
  border-radius: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }

  &__item {
    font-size: 30px;

    &--small {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  &__item:nth-child(2) {
    margin-bottom: 30px;

  }
}

.order {
  display: flex;
  gap: 30px;
  border: 1px solid #b1a3a3;
  padding: 20px;
  border-radius: 10px;

  &__span {
    font-weight: 600;
  }

  &__total {
    font-weight: 600;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    width: 100%;
    border-right: 1px solid #b1a3a3;
  }

  &__items {
    display: flex;
  }

  &__status {
    padding: 6px 15px;
    background: #7676ed;
    width: fit-content;
    border-radius: 10px;
    color: white;

    &--delivered {
      background: #6abf45;
    }
  }
}

.order-item {
  display: flex;
  gap: 10px;
  width: 650px;
  overflow: auto;

  &__img {
    max-width: 100px;
    object-fit: contain;
  }
}

.order-success {

  &__link {
    text-align: center;
    justify-content: center;
    max-width: 250px;
  }

  &__img {
    display: flex;
    width: 200px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin: 20px 0 30px;
  }
}
